* {
  font-family: 'Poppins';
}
.headerDiv {
  display: flex;
}

@keyframes width {
  0% {
    width: 100%;
  }
  10% {
    width: 73%;
  }
  20% {
    width: 35%;
  }
  30% {
    width: 37%;
  }
  40% {
    width: 48%;
  }
  50% {
    width: 65%;
  }
  60% {
    width: 46%;
  }
  70% {
    width: 38%;
  }
  80% {
    width: 66%;
  }
  90% {
    width: 76%;
  }
  100% {
    width: 100%;
  }
}

body {
  margin: 0px;
  background-color: #5a1e76;
}

.img {
  height: 300px;
  width: 310px;
}

.middleDiv {
  display: flex;
  background-color: #2b0040;
  height: 600px;
  width: 400px;
  margin: auto;
  border-radius: 25px;
  margin-top: 50px;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wholeDiv {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.firstRow {
  display: flex;
  gap: 10px;
  margin: 55px 0 0 88px;
}

.boxes {
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 5px;
}

.first {
  background-color: #48d2fe;
}
.second {
  background-color: #bcdbf9;
}
.third {
  background-color: #e2be00;
}

.boxesInsideDiv {
  display: flex;
  margin-left: 8px;
  margin-top: 12px;
  flex-direction: column;
  font-weight: 900;
}
.text {
  font-size: smaller;
}
.number {
  display: flex;
  margin-left: 19px;
  font-size: x-large;
}

.smallEmptyBoxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 81px;
}
.line {
  display: flex;
  gap: 15px;
}

.smallBoxes {
  display: flex;
  background-color: #43115b;
  height: 70px;
  width: 70px;
  border-radius: 4px;
  font-size: xxx-large;
  font-weight: 600;
}

.values {
  display: flex;
  margin-left: 17px;
}
